App1/bin/
App1/obj/
App1/.vs/
App2/bin/
App2/obj/
App2/.vs/
App3/bin/
App3/obj/
App3/.vs/
App4/bin/
App4/obj/
App4/.vs/
App5/bin/
App5/obj/
App5/.vs/
App6/bin/
App6/obj/
App6/.vs/
App7/bin/
App7/obj/
App7/.vs/
App8/bin/
App8/obj/
App8/.vs/